.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
<<<<<<< HEAD
  padding: 20px;
  width: 100%;
=======
>>>>>>> 6ce2b44553b61bd5dee6a4a4cd6377f00dfc792b
}
